# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Node modules
node_modules/

# React Native
ios/Pods/
ios/build/
android/app/build/
android/build/

# Miscellaneous
*.log
*.tmp
.DS_Store
.env
.vscode/

# macOS
.DS_Store